/* :root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}


html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.kr-bg-screen {
  background-color: #f3f4f6;
}

/* KDS-specific utility classes for margin/padding reset */
.kr-reset-margin-padding {
  margin: 0;
  padding: 0;
}

.kr-reset-margin {
  margin: 0;
}

.kr-reset-padding {
  padding: 0;
}

/* Antialiased text rendering */
.kr-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* canvas {
  pointer-events: auto !important;
  touch-action: auto;
}

.canvas-container {
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 60% !important;
  height: 60vh !important;
  position: absolute !important;
  background: aqua;
  transform: translate(-50%, -50%);
}

.canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
}

canvas {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
} */


/* .canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw !important;
  height: 90vh !important;
  transform: translate(-50%, -50%);
  z-index: 0;
} */


canvas {
  width: 100% !important;
  height: 100% !important;
  pointer-events: auto !important;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}